/express/node_modules
./express/node_modules
.env

./expressrendering/node_modules
./handlebars/node_modules
/expressrendering/node_modules
/handlebars/node_modules
/mongodbintro/node_modules
./mongodbintro/node_modules
./nodecli/node_modules
/nodecli/node_modules

./mongocrud/node_modules
/mongocrud/node_modules
./mongocrud/.env
/mongocrud/.env
/mongocrud/node_modules
./simmplemiddleware/node_modules
/simmplemiddleware/node_modules
/mongodagg/node_modules
./mongodagg/node_modules